@use '../utils/placeholders';
@use '../utils/variables' as var;
@use '../utils/functions' as fn;
@use '../utils/mixins' as mx;

.choose {
  background-image: url('./../img/choose_frame_mob.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 24px 90px 101px 90px;
  position: relative;

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi) {
    background-image: url('./../img/choose_frame_mob_2x.jpg');
  }

  @include mx.mq('lg') {
    background-image: url('./../img/features_frame_dt.jpg');
    padding: 150px 102px;

    @media only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (min-resolution: 192dpi) {
      background-image: url('./../img/features_frame_dt_2x.jpg');
    }
  }
}

.choose-title {
  @extend %offer-title;

  text-align: center;
  color: fn.get-color('secondary-normal');
}

.choose-title-span {
  color: fn.get-color('secondary-light');
}

.choose-title-line {
  width: 30px;
  height: 6px;
  border-radius: 5px;
  margin: 0 auto;
  background-color: fn.get-color('secondary-normal');
}

.choose-subtract {
  position: absolute;
  top: 63px;
  left: 50%;
  transform: translateX(-50%);
}

.choose-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-top: 65px;
}

.choose-item {
  padding: 16px 12px;
  border-radius: 16px;
  width: 250px;
  height: 200px;
  background-color: fn.get-color('white-50');
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  z-index: 3;
}

.choose-item-icon {
  border-radius: 100px;
  background-color: fn.get-color('secondary-light-active');
}

.choose-item-plant {
  width: 24px;
  height: 24px;
}

.choose-item-title {
  @extend %choose-title;

  text-align: center;
  color: fn.get-color('secondary-darker');
}

.choose-item-text {
  @extend %offer-text;

  margin-top: 12px;
  text-align: center;
  color: fn.get-color('primary-900');
}
