@use '../utils/placeholders';
@use '../utils/variables' as var;
@use '../utils/functions' as fn;
@use '../utils/mixins' as mx;

.choose {
  background-image: url('./../img/choose_frame_mob.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 24px 90px 101px 90px;
  position: relative;

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi) {
    background-image: url('./../img/choose_frame_mob_2x.jpg');
  }

  @include mx.mq('lg') {
    background-image: url('./../img/choose_frame_dt.jpg');
    padding: 76px 148px 142px 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 408px;

    @media only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (min-resolution: 192dpi) {
      background-image: url('./../img/choose_frame_dt_2x.jpg');
    }
  }
}

.choose-title {
  @extend %offer-title;

  text-align: center;
  color: fn.get-color('secondary-normal');

  @include mx.mq('lg') {
    font-size: 48px;
  }
}

.choose-title-span {
  color: fn.get-color('secondary-light');
}

.choose-title-line {
  width: 30px;
  height: 6px;
  border-radius: 5px;
  margin: 0 auto;
  background-color: fn.get-color('secondary-normal');

  @include mx.mq('lg') {
    width: 100px;
    margin-right: 0;
  }
}

.choose-subtract {
  position: absolute;
  top: 63px;
  left: 50%;
  transform: translateX(-50%);

  @include mx.mq('lg') {
    display: none;
  }
}

.choose-subtract-dt {
  display: none;

  @include mx.mq('lg') {
    display: block;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.choose-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-top: 65px;

  @include mx.mq('lg') {
    gap: 115px;
    margin-top: 0;
    align-items: stretch;
  }
}

.choose-item {
  padding: 16px 12px;
  border-radius: 16px;
  width: 250px;
  height: 200px;
  background-color: fn.get-color('white-50');
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  z-index: 3;
  --offset-x: 0px;
  transform: translateX(var(--offset-x));

  @include mx.mq('lg') {
    padding: 25px 25px 15px 15px;
    width: 550px;
    height: 150px;
    flex-direction: row;
    gap: 40px;
    --offset-x: 0px;
    transform: translateX(var(--offset-x));
  }
}

@include mx.mq('lg') {
  .choose-item:nth-child(1) {
    --offset-x: -157px;
  }
  .choose-item:nth-child(2) {
    --offset-x: 0px;
  }
  .choose-item:nth-child(3) {
    --offset-x: -60px;
  }
}

.choose-item-icon {
  width: 50px;
  height: 50px;
   flex-shrink: 0;

  @include mx.mq('lg') {
    width: 90px;
    height: 90px;
  }
}

.choose-item-title {
  @extend %choose-title;

  text-align: center;
  color: fn.get-color('secondary-darker');

  @include mx.mq('lg') {
    font-size: 40px;
  }
}

.choose-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  @include mx.mq('lg') {
    gap: 8px;
  }
}

.choose-item-text {
  @extend %offer-text;

  margin-top: 12px;
  text-align: center;
  color: fn.get-color('primary-900');

  @include mx.mq('lg') {
    font-size: 19px;
  }
}
