@use '../utils/placeholders';
@use '../utils/variables' as var;
@use '../utils/functions' as fn;
@use '../utils/mixins' as mx;

.farm-cards {
  padding: 23px 15px;
  background-color: fn.get-color('primary-50');
  margin-top: 21px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;

  @include mx.mq('lg') {
    padding: 58px 104px 56px 104px;
    margin-top: 0;
    gap: 24px;
  }
}

.farm-cards-title-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.farm-cards-title {
  @extend %offer-title;

  color: fn.get-color('secondary-dark-active');

  @include mx.mq('lg') {
    font-size: 33px;
  }
}

.farm-cards-text-mob {
  @extend %farm-text;

  text-align: center;
  color: fn.get-color('secondary-dark-active');
  width: 400px;

  @include mx.mq('lg') {
    font-size: 23px;
    width: 1300px;
  }
}

.farm-cards-text-dt {
  @extend %farm-text;
  display: none;

  @include mx.mq('lg') {
    display: block;
    font-size: 23px;
  }
}

.farm-cards-slider {
  position: relative;
  overflow: hidden;
  width: 400px;

  @include mx.mq('lg') {
    width: 1520px;
  }
}

.farm-cards-slides {
  display: flex;
  gap: 12px;
  align-items: center;
  transition: transform 0.5s ease-in-out;

  @include mx.mq('lg') {
    gap: 24px;
  }
}

.farm-cards-slide {
  position: relative;
  flex-shrink: 0;
  width: 194px;
  height: 202px;

  @include mx.mq('lg') {
    width: 490px;
    height: 412px;
  }
}

.farm-cards-slide-img img {
  border-radius: 16px;
  width: 194px;
  height: 202px;
  object-fit: cover;
  display: block;

  @include mx.mq('lg') {
    width: 490px;
    height: 412px;
  }
}

.farm-cards-slide-name {
  @extend %choose-title;

  position: absolute;
  top: 175px;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 8px;
  padding: 12px;
  width: 150px;
  height: 30px;
  background-color: fn.get-color('primary-50');
  opacity: 0.8;
  text-align: center;
  color: fn.get-color('secondary-darker');

  display: flex;
  justify-content: center;
  align-items: center;

  @include mx.mq('lg') {
    font-size: 23px;
    top: 365px;
    width: 200px;
    height: 56px;
  }
}

.farm-cards-icon {
  width: 32px;
  height: 32px;

  @include mx.mq('lg') {
    width: 64px;
    height: 64px;
  }
}

.farm-cards-prev {
  position: absolute;
  top: 85px;
  left: 5px;

  @include mx.mq('lg') {
    top: 169px;
    left: 6px;
  }
}

.farm-cards-next {
  position: absolute;
  top: 85px;
  right: 5px;

  @include mx.mq('lg') {
    top: 169px;
    right: 6px;
  }
}
