@use '../utils/placeholders';
@use '../utils/variables' as var;
@use '../utils/functions' as fn;
@use '../utils/mixins' as mx;

.farm-cards {
  padding: 23px 15px;
  background-color: fn.get-color('primary-50');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;

  @include mx.mq('lg') {
    padding: 58px 104px 56px 104px;
    margin-top: 0;
    gap: 24px;
  }
 &--primary {
    background-color: fn.get-color('primary-50');
  }

  &--darker {
    background-color: fn.get-color('secondary-darker');
  }

}

.farm-cards-title-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.farm-cards-title {
  @extend %offer-title;

  @include mx.mq('lg') {
    font-size: 33px;
  }

  &--light {
    color: fn.get-color('secondary-light');
  }

  &--dark {
    color: fn.get-color('secondary-dark-active');
  }
}

.farm-cards-text {
  @extend %farm-text;
  text-align: center;

  &--mob {
    width: 400px;

    @include mx.mq('lg') {
      font-size: 23px;
      width: 1300px;
    }
  }

  &--dt {
    display: none;

    @include mx.mq('lg') {
      display: block;
      font-size: 23px;
    }
  }

   &--light {
    color: fn.get-color('secondary-light');
  }

  &--dark {
    color: fn.get-color('secondary-dark-active');
  }
}

.farm-cards-slider {
  position: relative;
  overflow: hidden;
  width: 400px;

  @include mx.mq('lg') {
    width: 1520px;
  }
}

.farm-cards-slides {
  display: flex;
  gap: 12px;
  align-items: center;
  transition: transform 0.5s ease-in-out;

  @include mx.mq('lg') {
    gap: 24px;
  }
}

.farm-cards-slide {
  position: relative;
  flex-shrink: 0;
  width: 194px;
  height: 202px;

  @include mx.mq('lg') {
    width: 490px;
    height: 412px;
  }
}

.farm-cards-slide-img {
  border-radius: 16px;
  width: 194px;
  height: 202px;
  object-fit: cover;
  display: block;

  @include mx.mq('lg') {
    width: 490px;
    height: 412px;
  }
}

.farm-cards-slide-name {
  @extend %choose-title;

  position: absolute;
  top: 165px;
  left: 50%;
  transform: translate(-50%, -50%);

  display: inline-flex;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  padding: 12px;
  width: 150px;
  min-height: 30px;
  max-height: 50px;
  background-color: fn.get-color('primary-50');
  opacity: 0.8;
  text-align: center;
  color: fn.get-color('secondary-darker');

  display: flex;
  justify-content: center;
  align-items: center;

  @include mx.mq('lg') {
    font-size: 23px;
    top: 365px;
    width: 250px;
    height: 56px;
  }
}

.farm-cards-icon {
  width: 32px;
  height: 32px;

  @include mx.mq('lg') {
    width: 64px;
    height: 64px;
  }
}



// .farm-cards-prev {
//   position: absolute;
//   top: 50%;
//   left: 5px;
//   transform: translateY(-50%);
//   transition: transform 0.2s ease;

//   &:hover {
//     transform: translateY(-50%) scale(1.1);
//   }

//   @include mx.mq('lg') {
//     top: 50%;
//     left: 6px;
//   }
// }

// .farm-cards-next {
//   position: absolute;
//   top: 50%;
//   right: 5px;
//   transform: translateY(-50%);
//   transition: transform 0.2s ease;

//   &:hover {
//     transform: translateY(-50%) scale(1.1);
//   }

//   @include mx.mq('lg') {
//     top: 50%;
//     right: 6px;
//   }
// }

.farm-cards-slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;

  transition: transform 0.2s ease;

  &:hover {
    transform: translateY(-50%) scale(1.1);
  }

  &--prev {
    left: 6px;
  }

  &--next {
    right: 6px;
  }
}

.farm-cards-icon {
  width: 32px;
  height: 32px;

  @include mx.mq('lg') {
    width: 64px;
    height: 64px;
  }
}
