@use '../utils/placeholders';
@use '../utils/variables' as var;
@use '../utils/functions' as fn;
@use '../utils/mixins' as mx;

.hero {
  background-image: image-set(
    url('./../img/hero_frame_mob.jpg') 1x,
    url('./../img/hero_frame_mob_2x.jpg') 2x
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 133px 15px;
  height: 615px;

  @include mx.mq('lg') {
    background-image: image-set(
      url('./../img/hero_frame_dt.jpg') 1x,
      url('./../img/hero_frame_dt_2x.jpg') 2x
    );
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1130px;
  }
}

.hero-border {
  @include mx.mq('lg') {
    border: 25px solid;
    border-color: rgba(fn.get-color('secondary-light-active'), 0.5);
    border-radius: 32px;
    width: 1500px;
    height: 1000px;
    padding: 150px 250px;
  }
}

.hero-box {
  border-radius: 32px;
  padding: 12px 24px;
  width: 400px;
  height: 350px;
  background: rgba(8, 45, 1, 0.8);
  margin: 0 auto;
  padding: 51px 51px 40px 51px;

  @include mx.mq('lg') {
    padding: 109px 64px;
    width: 1000px;
    height: 700px;
  }
}

.hero-title {
  @extend %hero-title;

  color: fn.get-color('primary-50');

  @include mx.mq('lg') {
    font-size: 48px;
  }
}

.hero-title-accent {
  background: linear-gradient(90deg, #fbed96 0%, #abecd6 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-text {
  @extend %hero-text;

  width: 200px;
  margin: 70px auto 0 auto;
  text-align: center;
  color: fn.get-color('white-50');

  @include mx.mq('lg') {
    width: 717px;
    font-size: 28px;
    margin: 135px auto 0 auto;
  }
}
