@use '../utils/placeholders';
@use '../utils/variables' as var;
@use '../utils/functions' as fn;
@use '../utils/mixins' as mx;

.market-hero {
  background-image: image-set(
    url('./../img/market/marketbgmob.jpg') 1x,
    url('./../img/market/marketbgmob_2x.jpg') 2x
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 430px;
  height: 500px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;

  @include mx.mq('lg') {
    background-image: image-set(
      url('./../img/market/marketbgdt.jpg') 1x,
      url('./../img/market/marketbgdt_2x.jpg') 2x
    );
    width: 1728px;
    height: 836px;
    gap: 24px;
    align-items: start;
    padding: 270px 84px;
  }
}

.market-hero__welcome-text {
  @extend %section-text;

  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  text-align: center;
  color: fn.get-color('white-50');

  &::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 5px;
    background-color: fn.get-color('white-50');
    border: 5px;
  }

  @include mx.mq('lg') {
    font-size: 48px;
    gap: 16px;

    &::before {
      width: 50px;
    }
  }
}

.market-hero__title {
  @extend %offer-title;

  text-align: center;
  color: fn.get-color('white-50');

  @include mx.mq('lg') {
    font-size: 82px;
  }
}

.market-hero__text {
  @extend %farm-text;

  width: 250px;
  text-align: center;
  color: fn.get-color('white-50');

  @include mx.mq('lg') {
    font-size: 28px;
    width: auto;
  }
}

.market-headline {
  padding: 44px 13px 36px 13px;

  background-color: fn.get-color('secondary-darker');

  @include mx.mq('lg') {
    padding: 96px 354px;
  }
}

.market-headline__title {
  @extend %section-text;

  text-align: center;
  color: fn.get-color('white-50');

  @include mx.mq('lg') {
    font-size: 33px;
  }
}

.market-headline__text {
  @extend %offer-text;

  width: 400px;
  margin-top: 12px;
  text-align: center;
  color: fn.get-color('white-50');

  @include mx.mq('lg') {
    font-size: 23px;

    width: 1020px;
  }
}

.market-category {
  padding: 24px 55px;
  border-radius: 16px 16px 0 0;

  background-color: rgba(0, 173, 89, 0.2);
}

.market-category__list {
  display: flex;
  flex-wrap: nowrap;
  gap: 65px;

  overflow-x: auto;
  overflow-y: hidden;

  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }

  @include mx.mq('lg') {
    justify-content: center;
    gap: 150px;
  }
}

.market-category__item {
  @extend %choose-title;

  text-transform: uppercase;
  opacity: 0.5;

  color: fn.get-color('white-50');

  &.active {
    opacity: 1;
  }

  @include mx.mq('lg') {
    font-size: 33px;
  }
}

//========================================================

.market-sale {
  padding: 31px 40px 0 40px;
  height: 1316px;
  overflow: hidden;

  background-color: fn.get-color('primary-50');
}

.market-sale__section-title {
  @extend %menu-text;

  text-align: center;
  color: fn.get-color('primary-700');
}

.market-sale__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 26px;
  
   overflow-y: auto;         /* скроллим только список */
  padding-right: 20px;      /* чтобы контент не лип к скроллу */

  scrollbar-width: thin;    /* Firefox */
  scrollbar-color: fn.get-color('secondary-darker') transparent;
  
}

.market-sale__list::-webkit-scrollbar {
  width: 10px;             /* ширина скролла */
}

.market-sale__list::-webkit-scrollbar-track {
  background: transparent; /* фон дорожки */
}

.market-sale__list::-webkit-scrollbar-thumb {
  background: fn.get-color('secondary-darker'); /* цвет ползунка */
  border-radius: 5px;
  min-height: 60px; /* минимальная высота ползунка */
}

.market-sale__item {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  width: 350px;
  height: 500px;
  overflow: hidden;

  background-color: fn.get-color('white-50');
}

.market-sale__img {
  width: 350px;
  height: 288px;
}

.market-sale__item-content {
  padding: 8px 16px 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.market-sale__item-title {
  @extend %menu-text;

  color: fn.get-color('secondary-darker');
}

.market-sale__text {
  @extend %farm-text;

  width: 300px;
  color: fn.get-color('primary-800');
}

.market-sale__price-container {
  display: flex;
  gap: 4px;
  align-items: center;
}

.market-sale__price-icon {
}

.market-sale__price {
  @extend %choose-title;

  color: fn.get-color('secondary-darker');
}

.market-sale__btn {
  margin-left: auto;
  margin-right: 16px;
}
