@use '../utils/placeholders';
@use '../utils/variables' as var;
@use '../utils/functions' as fn;
@use '../utils/mixins' as mx;

.offer {
  position: relative;
  background: linear-gradient(180deg, #fff 47.45%, #e1e1e1 100%);
  padding: 10px 0 86px 0;

  &::before,
  &::after {
    content: '';
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    pointer-events: none;
  }

  &::before {
    top: 0;
    left: 0;
    width: 92px;
    height: 96px;
    background-image: url('./../img/plant1.png');
  }

  &::after {
    top: 0;
    right: 0;
    width: 112px;
    height: 120px;
    background-image: url('./../img/plant2.png');
  }

  @include mx.mq('lg') {
    background: fn.get-color('primary-50');
    padding: 37px 0 102px 0;

    &::before {
      top: 0;
      left: 0;
      width: 335px;
      height: 406px;
      background-image: url('./../img/plant3.png');
    }

    &::after {
      display: none;
    }
  }
}

.offer-title {
  @extend %offer-title;

  text-align: center;
  color: fn.get-color('secondary-darker');

  @include mx.mq('lg') {
    font-size: 48px;
  }
}

.offer-title-span {
  color: fn.get-color('secondary-dark');
}

.offer-title-line {
  width: 50px;
  height: 6px;
  border-radius: 50px;
  margin: 0 auto;
  background-color: fn.get-color('secondary-darker');

  @include mx.mq('lg') {
    width: 106px;
  }
}

.offer-text {
  @extend %offer-text;

  margin: 29px auto 0 auto;
  text-align: center;
  width: 286px;
  color: fn.get-color('primary-900');
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;

  @include mx.mq('lg') {
    font-size: 19px;
    margin: 32px auto 0 auto;
    width: 1004px;
  }
}

.offer-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 90px;
  overflow-x: auto;
  margin-top: 27px;

  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }

  @include mx.mq('lg') {
    gap: 120px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    overflow-x: none;
  }
}

.offer-item:first-child {
  margin-left: -50px;

  @include mx.mq('lg') {
    margin-left: 0;
  }
}

.offer-item {
  border-radius: 16px;
  padding: 12px 25px;
  width: 250px;
  height: 350px;
  background-color: fn.get-color('secondary-light');
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-shrink: 0;
  align-items: center;

  @include mx.mq('lg') {
    padding: 12px 10px;
    width: 300px;
    height: 400px;
    gap: 24px;
  }
}

.offer-item-img {
  width: 200px;
  height: 150px;
  flex-shrink: 0;
  border-radius: 16px;

  @include mx.mq('lg') {
    width: 280px;
  }
}

.offer-item-title {
  @extend %section-text;

  color: fn.get-color('primary-700');

  @include mx.mq('lg') {
    font-size: 28px;
  }
}

.offer-item-text {
  @extend %offer-text;

  text-align: center;
  color: fn.get-color('primary-900');

  @include mx.mq('lg') {
    font-size: 19px;
  }
}
