@use '../utils/placeholders';
@use '../utils/variables' as var;
@use '../utils/functions' as fn;
@use '../utils/mixins' as mx;

.partners {
  position: relative;
  background-image: url('./../img/partners_frame_back_mob.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 29px 0 60px 0;

  &::before {
    content: '';
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 122px;
    height: 50px;
    background-image: url('./../img/deco-tree-mob.png');
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi) {
    background-image: url('./../img/partners_frame_back_mob_2x.png');
  }

  @include mx.mq('lg') {
    background-image: url('./../img/partners_frame_back_dt.png');
    padding: 31px 27px 109px 27px;
    height: 500px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.6)
      );
      z-index: 0;
    }

    &::before {
      content: '';
      width: 595px;
      height: 637px;
      background-image: url('./../img/deco-tree-dt.png');
    }

    @media only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (min-resolution: 192dpi) {
      background-image: url('./../img/partners_frame_back_dt_2x.png');
    }
  }
}

.partners > * {
  position: relative;
  z-index: 1;
}

.partners-title {
  @extend %section-text;

  text-align: center;
  color: fn.get-color('secondary-normal-active');

  @include mx.mq('lg') {
    font-size: 33px;
  }
}

.partners-title-span {
  position: relative;
  display: inline-block;
  color: fn.get-color('secondary-darker');

  &::after {
    content: '';
    position: absolute;
    left: 80%;
    bottom: -8px;
    transform: translateX(-50%);
    width: 32px;
    height: 6px;
    border-radius: 50px;
    background-color: fn.get-color('secondary-normal-active');

    @include mx.mq('lg') {
      left: 63%;
      width: 103px;
    }
  }
}

.partners-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 48px;
  overflow-x: auto;
  margin-top: 25px;

  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }

  @include mx.mq('lg') {
    justify-content: center;
    align-items: center;
    margin-top: 145px;
    overflow-x: none;
  }
}

.partners-item {
  flex-shrink: 0;
}
