@use '../utils/placeholders';
@use '../utils/variables' as var;
@use '../utils/functions' as fn;
@use '../utils/mixins' as mx;

body {
  @extend %main-text;

  font-family: var.$font-family, sans-serif;
  color: fn.get-color('white-50');
  background-color: fn.get-color('primary-900');
  line-height: 1.4;
}

button {
  font-family: inherit;
  color: fn.get-color('current');
  cursor: pointer;
}

summary {
  list-style-type: none;
}