@if index($btn-types, default) {
  .btn--default {
    background-color: #00e676;

    &:active {
      background-color: #00b85e;
    }

    @media (hover: hover) {
      &:hover,
      &:focus {
        background-color: #00cf6a;
      }
    }
    &[disabled] {
      background-color: #f5f5f5;
    }
  }
}
