@use '../../../utils/functions' as fn;
@use '../../../utils/mixins' as mx;

@if index($btn-types, learnmore) {
  .btn--learnmore {
    background-color: transparent;
    border: 1px solid #fff;
    color: fn.get-color('white-50');
    margin: 50px auto 0 auto;
    padding: 12px 24px;
    width: 150px;
    height: 50px;

     @include mx.mq('lg') {
    margin: 80px auto 0 auto;
    width: 300px;
    height: 80px;
    border-radius: 50px;
     padding: 20px 50px;
  }

  .btn-inner {

    @include mx.mq('lg') {
      font-size: 28px; 
    }
  }

    &:active {
      background-color: transparent;
    }

    @media (hover: hover) {
      &:hover,
      &:focus {
        background-color: transparent;
        color: fn.get-color('secondary-normal-hover');
        border-color: fn.get-color('secondary-normal-hover');
      }
    }
    &[disabled] {
      background-color: #f5f5f5;
    }
  }

 
}
