@if index($btn-types, submit) {
 
  .btn--submit {
    background-color: #0b270d;

    &:active {
      background-color: #19561d;
    }

    @media (hover: hover) {
      &:hover,
      &:focus {
        background-color: #134317;
      }
    }
    &[disabled] {
      background-color: #f5f5f5;
    }
  }
}