@use '../utils/placeholders';
@use '../utils/variables' as var;
@use '../utils/functions' as fn;
@use '../utils/mixins' as mx;

.footer {
  padding: 31px 15px 12px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 55px;

  @include mx.mq('lg') {
    padding: 59px 24px 208px 24px;
    flex-direction: row;
    gap: 200px;
    align-items: start;
  }
}

.footer-logo-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
  width: 400px;

  @include mx.mq('lg') {
    width: 544px;
  }
}
// .logo {
// }
// .logo-icon {
// }

.footer-logo-text {
  @extend %offer-text;

  text-align: center;
  color: fn.get-color('white-50');

  @include mx.mq('lg') {
    font-size: 23px;
    text-align: left;
  }
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 62px;
  width: 400px;

  @include mx.mq('lg') {
    width: 160px;
    margin-top: 112px;
    gap: 73px;
  }
}

.footer-links-title {
  @extend %menu-text;

  color: fn.get-color('white-50');

  @include mx.mq('lg') {
    font-size: 28px;
  }
}

.footer-links-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-links-link {
  @extend %section-text;

  color: fn.get-color('secondary-light-hover');
}

.current {
  color: fn.get-color('secondary-normal');
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 400px;

  @include mx.mq('lg') {
    width: 589px;
    margin-top: 112px;
  }
}

.footer-contacts-title {
  @extend %menu-text;

  color: fn.get-color('white-50');

  @include mx.mq('lg') {
    font-size: 28px;
  }
}

.footer-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include mx.mq('lg') {
    gap: 24px;
  }
}

.footer-contacts-item-title {
  @extend %choose-title;

  color: fn.get-color('white-50');

  @include mx.mq('lg') {
    font-size: 28px;
  }
}

.footer-contacts-item {
  @extend %offer-text;

  color: fn.get-color('white-50');

  @include mx.mq('lg') {
    font-size: 23px;
  }
}
