@use '../utils/mixins' as mx;

.page {
  min-width: 430px;

  @include mx.mq('lg') {
    min-width: 1728px;
    padding-top: 0;
  }
}

.page-farm-header {
  background-image: url('./../img/farm_header_mob.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 932px;

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi) {
    background-image: url('./../img/farm_header_mob_2x.jpg');
  }

  @include mx.mq('lg') {
    background-image: url('./../img/farm_header_dt.jpg');
    min-height: 1180px;

    @media only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (min-resolution: 192dpi) {
      background-image: url('./../img/farm_header_dt_2x.jpg');
    }
  }
}

.page-farm-header .header {
  @include mx.mq('lg') {
    background: transparent;
    position: relative;
    z-index: 2;
  }
}
